@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  min-width: 100%;
  overflow-x: hidden;
  background-color: rgb(30, 30, 30);
}
body .container {
  min-width: 100%;
  min-height: 90vh;
  margin-bottom: 1rem;
}
body .container h1.title {
  background: linear-gradient(150deg, rgb(150, 150, 150) 0%, rgb(150, 150, 150) 20%, rgb(78, 245, 147) 90%, rgb(78, 245, 147) 100%);
  text-align: center;
  font-weight: 600;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body .container hr {
  margin-bottom: 2rem;
  width: 40%;
  margin: 0 auto 2.5rem auto;
  border: 1px solid rgb(100, 100, 100);
  outline: none;
}
body .container .input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
body .container .input-container input#taskInput {
  height: 2.45rem;
  border: none;
  outline: none;
  border-radius: 5px 0 0 5px;
  padding: 0 0.3rem;
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
body .container .input-container .btn {
  background-color: rgb(78, 245, 147);
  color: rgb(30, 30, 30);
  border: none;
  outline: none;
  border-radius: 0 5px 5px 0;
  padding: 1.2rem 1.2rem;
  transition: background-color 0.2s, color 0.2s;
  border-left: 1px solid rgb(60, 60, 60);
}
body .container .input-container .btn i#plusIcon {
  scale: 1;
  transition: scale 0.1s;
}
body .container .input-container .btn:active {
  color: rgb(78, 245, 147);
  background-color: rgb(60, 60, 60);
}
body .container .input-container #addButton:active i#plusIcon {
  scale: 0.8;
}
body .container #errors {
  max-width: 90%;
  margin: 0 auto 2rem auto;
  text-align: center;
  padding: 0.3rem 0.3rem;
  color: rgb(245, 78, 78);
  border-radius: 5px;
  font-size: 1rem;
  font-style: italic;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
body .container .tasks-list-container {
  width: 75%;
  margin: 0 auto 2rem auto;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
body .container .tasks-list-container h2.title {
  color: rgb(78, 245, 147);
  font-weight: 500;
  margin-bottom: 1rem;
}
body .container .tasks-list-container #noTasks {
  font-size: 2rem;
  font-weight: 500;
  color: rgba(60, 60, 60, 0.9);
  text-align: center;
  word-wrap: break-word;
  padding: 1.5rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}
body .container .tasks-list-container .task {
  color: rgb(230, 230, 230);
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  background-color: rgb(60, 60, 60);
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  transition: background-color 0.4s;
}
body .container .tasks-list-container .task .icons {
  display: flex;
  gap: 0.2rem;
  align-items: center;
}
body .container .tasks-list-container .task .icons i.bi.bi-trash3 {
  font-size: 0.85rem;
  transition: color 0.2s;
}
body .container .tasks-list-container .task .icons .btn.remove:hover i.bi.bi-trash3 {
  color: rgb(245, 78, 78);
}
body .container .tasks-list-container .task .icons .btn {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0.3rem 0;
  margin: 0;
  cursor: pointer;
}
body .container .tasks-list-container .task .icons span {
  padding: 0.3rem;
  border-radius: 5px;
  transition: background-color 0.2s;
}
body .container .tasks-list-container .task .icons .btn:hover span {
  background-color: rgba(88, 88, 88, 0.541);
}
body .container .tasks-list-container .task .icons i.bi.bi-check2 {
  transition: color 0.2s;
}
body .container .tasks-list-container .task .icons .btn.check:hover i.bi.bi-check2 {
  color: rgb(0, 206, 86);
}
body .container .tasks-list-container .task .icons i {
  color: rgb(230, 230, 230);
}
body .container .tasks-list-container .task.completed {
  background-color: rgb(78, 245, 147);
  color: rgb(30, 30, 30);
  font-weight: 500;
}
body .container .tasks-list-container .task.completed i {
  color: rgb(30, 30, 30);
}
body .container .tasks-list-container .task.completed .btn:hover span {
  background-color: rgba(60, 60, 60, 0.2);
}
body .container .tasks-list-container .task.completed i.bi.bi-arrow-counterclockwise::before {
  transition: transform 0.3s;
}
body .container .tasks-list-container .task.completed .btn.check:hover i.bi.bi-arrow-counterclockwise::before {
  transform: rotate(-360deg);
}
body .container #clearTasks {
  background-color: rgb(255, 116, 111);
  color: rgb(230, 230, 230);
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0.5rem 1.2rem;
  transition: background-color 0.2s, color 0.2s;
  border-left: 1px solid rgb(60, 60, 60);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  transition: background-color 0.2s;
}
body .container #clearTasks:active {
  background-color: rgb(245, 78, 78);
}
body footer {
  text-align: center;
  color: rgb(230, 230, 230);
  font-size: 1rem;
  opacity: 0.5;
  font-style: italic;
}
@media screen and (min-width: 1025px) and (max-width: 1920px) {
  body .container {
    max-width: 60%;
  }
  body .container hr {
    max-width: 8%;
  }
  body .container .input-container .btn {
    cursor: pointer;
  }
  body .container .input-container .btn #plusIcon {
    transition: transform 0.2s;
  }
  body .container .input-container .btn:hover {
    color: rgb(78, 245, 147);
    background-color: rgb(60, 60, 60);
  }
  body .container .input-container .btn:hover #plusIcon {
    transform: rotate(-90deg);
    scale: 1.2;
  }
  body .container input#taskInput {
    width: 20%;
  }
  body .container .tasks-list-container {
    width: 25%;
  }
  body .container #clearTasks {
    cursor: pointer;
    transition: scale 0.1s, box-shadow 0.2s, background-color 0.2s;
  }
  body .container #clearTasks:hover {
    scale: 1.03;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
    background-color: rgb(245, 78, 78);
  }
}
@media screen and (min-width: 951px) and (max-width: 1024px) {
  body .container {
    max-width: 80%;
  }
  body .container hr {
    max-width: 10%;
  }
  body .container .btn {
    cursor: pointer;
  }
  body .container .btn #plusIcon {
    transition: transform 0.2s;
  }
  body .container .btn:hover {
    color: rgb(78, 245, 147);
    background-color: rgb(60, 60, 60);
  }
  body .container .btn:hover #plusIcon {
    transform: rotate(-90deg);
    scale: 1.2;
  }
  body .container input#taskInput {
    width: 30%;
  }
  body .container .tasks-list-container {
    width: 40%;
  }
  body .container #clearTasks:hover {
    cursor: pointer;
    background-color: rgb(245, 78, 78);
  }
  body input#taskInput {
    width: 30%;
  }
  body .tasks-list-container {
    width: 35%;
  }
  body .btn {
    cursor: pointer;
  }
  body .btn:hover span {
    background-color: rgba(30, 30, 30, 0.5);
  }
}
@media screen and (min-width: 650px) and (max-width: 950px) {
  body .container {
    max-width: 80%;
    margin: 0 auto 1rem auto;
  }
  body .container hr {
    max-width: 15%;
  }
  body .container .btn {
    cursor: pointer;
  }
  body .container .btn #plusIcon {
    transition: transform 0.2s;
  }
  body .container .btn:active {
    color: rgb(78, 245, 147);
    background-color: rgb(60, 60, 60);
  }
  body .container .btn:active #plusIcon {
    transform: rotate(-90deg);
    scale: 1.2;
  }
  body .container input#taskInput {
    width: 30%;
  }
  body .container .tasks-list-container {
    width: 40%;
  }
}
@media screen and (min-width: 250px) and (max-width: 650px) {
  body .container {
    max-width: 100%;
    margin: 0 auto 1rem auto;
  }
  body .container h1.title {
    font-size: 2.2rem;
  }
  body .container hr {
    max-width: 25%;
  }
  body .container .btn {
    cursor: pointer;
  }
  body .container .btn #plusIcon {
    transition: transform 0.2s;
  }
  body .container .btn:active {
    color: rgb(78, 245, 147);
    background-color: rgb(60, 60, 60);
  }
  body .container .btn:active #plusIcon {
    transform: rotate(-90deg);
    scale: 1.2;
  }
  body .container input#taskInput {
    width: 60%;
  }
  body .container .tasks-list-container {
    width: 70%;
  }
}/*# sourceMappingURL=style.css.map */